Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.venv/
      - id: end-of-file-fixer
        exclude: ^.venv/
      - id: check-added-large-files
        exclude: ^.venv/
      - id: check-ast
        exclude: ^.venv/
      - id: check-yaml
        exclude: ^.venv/

  - repo: local
    hooks:
      - id: check-typing-imports
        name: Check for Dict, List, or Union usage
        entry: bash -c 'echo "Checking for typing imports..." && find . -name "*.py" | grep -v "/migrations/" | grep -v "/.venv/" | xargs grep -n "from typing.*import.*[^d]Dict\\|from typing.*import.*List\\|from typing.*import.*Union" || exit 0 && echo "⚠️  Please import dict instead of Dict, list instead of List, and the logical OR operator" && exit 1'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|py/migrations/)

  - repo: local
    hooks:
      - id: check-print-statements
        name: Check for print statements
        entry: bash -c 'echo "Checking for print statements..." && find . -type f -name "*.py" -not -path "**/.venv/**" -not -path "**/py/core/examples/**" -not -path "**/py/migrations/**" -not -path "**/py/tests/**" -not -path "**/examples.py" -not -path "**/test_*" | xargs grep -n "print(" || exit 0 && echo "Found print statements!" && exit 1'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^py/
        exclude: ^(py/tests/|.venv/)
      - id: ruff-format
        files: ^py/
        exclude: ^(py/tests/|.venv/)

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd py && python -m mypy --exclude "migrations" .'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|migrations/)

Claude hates listening
  py/core/parsers/media/pdf_parser.py
Due: check-typing-imports, check-print-statements, mypy

Update env vars and config files
  docker/env/r2r-full.env
  docker/env/r2r.env
  py/all_possible_config.toml
Due: none

Update env vars and config files (#2079)
  docker/env/r2r-full.env
  docker/env/r2r.env
  py/all_possible_config.toml
Due: none

Refactor to use pymupdf, batch VLM requests (#2078)
  py/core/parsers/media/pdf_parser.py
  py/pyproject.toml
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

refactor filters for simplicity / modularity
  .pre-commit-config.yaml
  py/core/providers/database/filters.py
Due: check-typing-imports, check-print-statements, mypy

rm duplicate psql_quote_literal
  py/core/providers/database/chunks.py
  py/core/providers/database/filters.py
Due: check-typing-imports, check-print-statements, mypy

add citations
  py/core/providers/database/simplified_filters.py
  py/core/providers/database/utils.py
  py/core/utils/__init__.py
  py/tests/unit/test_agent_citations.py
  py/tests/unit/test_citation_utils.py
Due: check-typing-imports, check-print-statements, mypy

adding tests for filters
  py/core/providers/database/filters.py
  py/core/providers/database/simplified_filters.py
  py/tests/unit/test_filters.py
Due: check-typing-imports, check-print-statements, mypy

add agent tests
  py/tests/unit/conftest.py
  py/tests/unit/test_agent.py
  py/tests/unit/test_agent_citations.py
  py/tests/unit/test_filters.py
Due: check-typing-imports, mypy

up
  py/tests/unit/agent/test_agent.py
  py/tests/unit/agent/test_agent_citations.py
  py/tests/unit/agent/test_streaming_agent.py
  py/tests/unit/app/test_config.py
  py/tests/unit/app/test_routes.py
  py/tests/unit/database/test_collections.py
  py/tests/unit/database/test_conversations.py
  py/tests/unit/database/test_graphs.py
  py/tests/unit/database/test_limits.py
  py/tests/unit/database/test_prompts.py
  py/tests/unit/document/test_chunks.py
  py/tests/unit/document/test_document_processing.py
  py/tests/unit/document/test_documents.py
  py/tests/unit/retrieval/__init__.py
  py/tests/unit/retrieval/conftest.py
  py/tests/unit/retrieval/test_citations.py
  py/tests/unit/retrieval/test_database_filters.py
  py/tests/unit/retrieval/test_rag_processing.py
  py/tests/unit/retrieval/test_retrieval_core.py
  py/tests/unit/retrieval/test_search_methods.py
  py/tests/unit/test_citation_utils.py
  py/tests/unit/test_filters.py
  py/tests/unit/test_retrieval.py
Due: check-typing-imports, mypy

simplify prompt logic
  py/core/providers/database/prompts/chunk_enrichment.yaml
  py/core/providers/database/prompts/collection_summary.yaml
  py/core/providers/database/prompts/dynamic_rag_agent.yaml
  py/core/providers/database/prompts/dynamic_rag_agent_xml_tooling.yaml
  py/core/providers/database/prompts/graph_communities.yaml
  py/core/providers/database/prompts/graph_entity_description.yaml
  py/core/providers/database/prompts/graph_extraction.yaml
  py/core/providers/database/prompts/hyde.yaml
  py/core/providers/database/prompts/rag.yaml
  py/core/providers/database/prompts/rag_fusion.yaml
  py/core/providers/database/prompts/static_rag_agent.yaml
  py/core/providers/database/prompts/static_research_agent.yaml
  py/core/providers/database/prompts/summary.yaml
  py/core/providers/database/prompts/system.yaml
  py/core/providers/database/prompts/vision_img.yaml
  py/core/providers/database/prompts/vision_pdf.yaml
  py/core/providers/database/prompts_handler.py
  py/tests/unit/conftest.py
  py/tests/unit/test_prompts.py
Due: check-typing-imports, check-print-statements, mypy

fixing test failures
  py/core/providers/database/filters.py
  py/core/providers/database/simplified_filters.py
  py/pyproject.toml
  py/tests/unit/app/test_config.py
  py/tests/unit/document/test_document_processing.py
  py/tests/unit/retrieval/test_citations.py
  py/tests/unit/retrieval/test_database_filters.py
  py/tests/unit/retrieval/test_retrieval_core.py
  py/tests/unit/retrieval/test_search_methods.py
Due: check-typing-imports, check-print-statements, mypy

up
  py/core/providers/database/prompts_handler.py
  py/tests/unit/conftest.py
Due: check-typing-imports, check-print-statements, mypy

up
  py/tests/unit/conftest.py
Due: check-typing-imports, mypy

up
  py/core/providers/database/prompts/chunk_enrichment.yaml
  py/core/providers/database/prompts/collection_summary.yaml
  py/core/providers/database/prompts/dynamic_rag_agent.yaml
  py/core/providers/database/prompts/dynamic_rag_agent_xml_tooling.yaml
  py/core/providers/database/prompts/graph_communities.yaml
  py/core/providers/database/prompts/graph_entity_description.yaml
  py/core/providers/database/prompts/graph_extraction.yaml
  py/core/providers/database/prompts/hyde.yaml
  py/core/providers/database/prompts/rag.yaml
  py/core/providers/database/prompts/rag_fusion.yaml
  py/core/providers/database/prompts/static_rag_agent.yaml
  py/core/providers/database/prompts/static_research_agent.yaml
  py/core/providers/database/prompts/summary.yaml
  py/core/providers/database/prompts/system.yaml
  py/core/providers/database/prompts/vision_img.yaml
  py/core/providers/database/prompts/vision_pdf.yaml
  py/core/providers/database/prompts_handler.py
  py/tests/unit/conftest.py
  py/tests/unit/test_prompts.py
Due: check-typing-imports, check-print-statements, mypy

up
  py/core/providers/database/filters.py
  py/core/providers/database/simplified_filters.py
  py/tests/unit/agent/test_streaming_agent.py
  py/tests/unit/document/test_document_processing.py
  py/tests/unit/retrieval/__init__.py
  py/tests/unit/retrieval/conftest.py
  py/tests/unit/retrieval/test_citations.py
  py/tests/unit/retrieval/test_database_filters.py
  py/tests/unit/retrieval/test_rag_processing.py
  py/tests/unit/retrieval/test_retrieval_core.py
  py/tests/unit/retrieval/test_search_methods.py
Due: check-typing-imports, check-print-statements, mypy

finish refinements
  py/core/providers/database/filters.py
  py/core/providers/database/simplified_filters.py
  py/tests/unit/retrieval/conftest.py
Due: check-typing-imports, check-print-statements, mypy

add extra tests
  py/tests/unit/agent/test_agent_citations_old.py
  py/tests/unit/agent/test_agent_old.py
  py/tests/unit/database/test_prompts.py
  py/tests/unit/retrieval/test_filters_old.py
  py/tests/unit/retrieval/test_retrieval_old.py
Due: check-typing-imports, mypy

Revert "Feature/simplify prompt logic"
  py/core/providers/database/prompts/chunk_enrichment.yaml
  py/core/providers/database/prompts/dynamic_rag_agent.yaml
  py/core/providers/database/prompts/dynamic_rag_agent_xml_tooling.yaml
  py/core/providers/database/prompts/graph_entity_description.yaml
  py/core/providers/database/prompts/graph_extraction.yaml
  py/core/providers/database/prompts/rag.yaml
  py/core/providers/database/prompts/static_rag_agent.yaml
  py/core/providers/database/prompts/static_research_agent.yaml
  py/core/providers/database/prompts_handler.py
  py/tests/unit/conftest.py
  py/tests/unit/test_prompts.py
Due: check-typing-imports, check-print-statements, mypy

Fix regex pattern in JSParser to correctly match arrow functions
  py/core/parsers/text/js_parser.py
Due: check-typing-imports, check-print-statements, mypy

Add global cleanup fixture to remove leftover documents after tests
  py/tests/integration/conftest.py
Due: check-typing-imports, mypy

Add global cleanup fixture to remove leftover documents and collections after tests
  py/tests/integration/conftest.py
  py/tests/unit/conftest.py
Due: check-typing-imports, mypy

Refactor global cleanup fixture to use AsyncGenerator and enhance database cleanup logic
  py/tests/unit/conftest.py
Due: check-typing-imports, mypy

Refactor SupabaseAuthProvider: update security attribute to use HTTPAuthorizationCredentials, modify confirm_password_reset method signature, and adjust logout method to remove token parameter.
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

Update SupabaseAuthProvider to raise an exception on password reset failure instead of returning a success message for non-existent emails, enhancing error handling.
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

Refactor global cleanup fixture to use AsyncGenerator and improve cleanup logic
  py/tests/integration/conftest.py
  py/tests/unit/conftest.py
Due: check-typing-imports, mypy

Remove automatic commit step from quality workflow
  .github/workflows/quality.yml
Due: none

Add TypeScript ignore comments for axios module declaration and GitHub flow build
  py/core/examples/supported_file_types/ts.ts
Due: none

Conftest.py in test/intergration dir remove cleanup func
  py/tests/unit/conftest.py
Due: check-typing-imports, mypy

Remove empty __init__.py files from integration and unit test directories
  py/tests/integration/__init__.py
  py/tests/unit/__init__.py
Due: check-typing-imports, mypy

Initial commit from VM
  docker/env/hatchet.env
  docker/env/postgres.env
  docker/env/r2r-dashboard.env
  docker/env/r2r-full.env
  docker/env/r2r.env
  docker/user_configs/my_config.toml
Due: none

workflow integration
  .github/workflows/deploy-to-azure-vm.yml
  .gitignore
Due: none

workflow re-integration
  .github/workflows/deploy-to-azure-vm.yml
Due: none

workflow re-integration3
  docker/compose.full.yaml
Due: none

workflow re-integration correctly
  docker/compose.full.yaml
Due: none

Update my_config.toml
  docker/user_configs/my_config.toml
Due: none

update azure deploy yaml
  .github/workflows/deploy-to-azure-vm.yml
Due: none

update toml
  docker/user_configs/my_config.toml
Due: none
