Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

check-typing-imports:
  name: Check for Dict, List, or Union usage
  ...

check-print-statements:
  name: Check for print statements
  ...

mypy:
  name: mypy
  entry: bash -c 'cd py && python -m mypy --exclude "migrations" .'
  language: system
  pass_filenames: false

Update CollectionsIntegrationSuperUser.test.ts
  js/sdk/__tests__/CollectionsIntegrationSuperUser.test.ts
Due: none

Update ConversationsIntegrationSuperUser.test.ts
  js/sdk/__tests__/ConversationsIntegrationSuperUser.test.ts
Due: none

Update ConversationsIntegrationUser.test.ts
  js/sdk/__tests__/ConversationsIntegrationUser.test.ts
Due: none

Update GraphsIntegrationSuperUser.test.ts
  js/sdk/__tests__/GraphsIntegrationSuperUser.test.ts
Due: none

Update DocumentsIntegrationSuperUser.test.ts
  js/sdk/__tests__/DocumentsIntegrationSuperUser.test.ts
Due: none

Update DocumentsAndCollectionsIntegrationUser.test.ts
  js/sdk/__tests__/DocumentsAndCollectionsIntegrationUser.test.ts
Due: none

Update conftest.py
  py/tests/integration/conftest.py
Due: check-typing-imports, mypy

Update test_graphs.py
  py/tests/integration/test_graphs.py
Due: check-typing-imports, mypy

Update test_indices.py
  py/tests/integration/test_indices.py
Due: check-typing-imports, mypy

Update test_ingestion.py
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, mypy

Update test_retrieval.py
  py/tests/integration/test_retrieval.py
Due: check-typing-imports, mypy

Update SystemIntegrationUser.test.ts
  js/sdk/__tests__/SystemIntegrationUser.test.ts
Due: none

Update UsersIntegrationSuperUser.test.ts
  js/sdk/__tests__/UsersIntegrationSuperUser.test.ts
Due: none

Update auth.py
  py/core/base/providers/auth.py
Due: check-typing-imports, check-print-statements, mypy

Update my_config.toml
  docker/user_configs/my_config.toml
Due: none

Update r2r_with_auth.toml
  py/core/configs/r2r_with_auth.toml
Due: none

Update r2r.toml
  py/r2r/r2r.toml
Due: none

Restrict integration tests workflow to the main branch
  .github/workflows/r2r-js-sdk-integration-tests.yml
Due: none

Change authentication provider from "supabase" to "r2r" in r2r.toml
  py/r2r/r2r.toml
Due: none

Update default admin password to "change_me_immediately" across configuration and test files
  docker/user_configs/my_config.toml
  js/sdk/__tests__/ChunksIntegrationSuperUser.test.ts
  js/sdk/__tests__/CollectionsIntegrationSuperUser.test.ts
  js/sdk/__tests__/ConversationsIntegrationSuperUser.test.ts
  js/sdk/__tests__/ConversationsIntegrationUser.test.ts
  js/sdk/__tests__/DocumentsAndCollectionsIntegrationUser.test.ts
  js/sdk/__tests__/DocumentsIntegrationSuperUser.test.ts
  js/sdk/__tests__/GraphsIntegrationSuperUser.test.ts
  js/sdk/__tests__/PromptsIntegrationSuperUser.test.ts
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
  js/sdk/__tests__/SystemIntegrationSuperUser.test.ts
  js/sdk/__tests__/SystemIntegrationUser.test.ts
  js/sdk/__tests__/UsersIntegrationSuperUser.test.ts
  py/core/base/providers/auth.py
  py/core/configs/r2r_with_auth.toml
  py/r2r/r2r.toml
  py/tests/integration/conftest.py
  py/tests/integration/test_graphs.py
  py/tests/integration/test_indices.py
  py/tests/integration/test_ingestion.py
  py/tests/integration/test_retrieval.py
  py/tests/integration/test_users.py
Due: check-typing-imports, check-print-statements, mypy

Update embedding model from "openai/text-embedding-3-small" to "openai/text-embedding-3-large" across configuration files
  llms.txt
  py/all_possible_config.toml
  py/core/configs/full_azure.toml
  py/core/configs/r2r_azure.toml
  py/core/configs/r2r_azure_with_test_limits.toml
  py/core/providers/embeddings/openai.py
Due: check-typing-imports, check-print-statements, mypy

Update OpenAI embedding model from "text-embedding-3-large" to "text-embedding-3-small" in configuration
  py/core/providers/embeddings/openai.py
Due: check-typing-imports, check-print-statements, mypy

Fix typo in my_config.toml comment regarding global app settings
  docker/user_configs/my_config.toml
Due: none

Update audio language model to "azure/whisper-1" and add maintenance and OCR settings in configuration files
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Refactor audio language model configuration from "azure/whisper-1" to "azure/whisper" in my_config.toml and r2r.toml
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

adding configuration for self host deployment on gemini
  docker/user_configs/my_custom_config.toml
  py/r2r/r2r.toml
Due: none

"Stop tracking .env file"
  docker/env/r2r.env
Due: none

ignore .env files
  .gitignore
Due: none

testing docker push for staging
  README.md
Due: none

adding produciton yaml file
  .github/workflows/build-r2r-docker.prod.yml
Due: none

add tool result call
  py/core/agent/base.py
Due: check-typing-imports, check-print-statements, mypy

Fix comment formatting in my_config.toml for clarity on project_name setting
  docker/user_configs/my_config.toml
Due: none

Update authentication setting in r2r.toml to disable require_authentication and ensure consistency in my_config.toml scheduler provider
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Update default admin password to "123Neo456*" across configuration and test files
  docker/user_configs/my_config.toml
  js/sdk/README.md
  js/sdk/__tests__/ChunksIntegrationSuperUser.test.ts
  js/sdk/__tests__/CollectionsIntegrationSuperUser.test.ts
  js/sdk/__tests__/ConversationsIntegrationSuperUser.test.ts
  js/sdk/__tests__/ConversationsIntegrationUser.test.ts
  js/sdk/__tests__/DocumentsAndCollectionsIntegrationUser.test.ts
  js/sdk/__tests__/DocumentsIntegrationSuperUser.test.ts
  js/sdk/__tests__/GraphsIntegrationSuperUser.test.ts
  js/sdk/__tests__/PromptsIntegrationSuperUser.test.ts
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
  js/sdk/__tests__/SystemIntegrationSuperUser.test.ts
  js/sdk/__tests__/SystemIntegrationUser.test.ts
  js/sdk/__tests__/UsersIntegrationSuperUser.test.ts
  llms.txt
  py/all_possible_config.toml
  py/core/base/providers/auth.py
  py/core/configs/r2r_with_auth.toml
  py/r2r/r2r.toml
  py/tests/integration/conftest.py
  py/tests/integration/test_graphs.py
  py/tests/integration/test_indices.py
  py/tests/integration/test_ingestion.py
  py/tests/integration/test_retrieval.py
  py/tests/integration/test_users.py
Due: check-typing-imports, check-print-statements, mypy

Path conditions:
  check-typing-imports: any of: \.py$, but not: ^(.venv/|py/migrations/)
  check-print-statements: any of: \.py$, but not: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)
  mypy: any of: \.py$, but not: ^(.venv/|migrations/)
