Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.venv/
      - id: end-of-file-fixer
        exclude: ^.venv/
      - id: check-added-large-files
        exclude: ^.venv/
      - id: check-ast
        exclude: ^.venv/
      - id: check-yaml
        exclude: ^.venv/

  - repo: local
    hooks:
      - id: check-typing-imports
        name: Check for Dict, List, or Union usage
        entry: bash -c 'echo "Checking for typing imports..." && FOUND=$(cd "$(git rev-parse --show-toplevel)" && find . -path "*/py/*.py" | grep -v "venv" | grep -v "/.venv/" | grep -v "/site-packages/" | grep -v "test_" | grep -v "/migrations/" | xargs grep -l "from typing.*import.*[^d]Dict\\|from typing.*import.*List\\|from typing.*import.*Union" 2>/dev/null || echo "") && if [ -n "$FOUND" ]; then echo "$FOUND"; echo "  Please import dict instead of Dict, list instead of List, and the logical OR operator"; exit 1; else echo "No problematic imports found!"; exit 0; fi'
        language: system
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-print-statements
        name: Check for print statements
        entry: bash -c 'echo "Checking for print statements..." && FOUND=$(cd "$(git rev-parse --show-toplevel)" && find . -path "*/py/*.py" | grep -v "venv" | grep -v "/.venv/" | grep -v "/site-packages/" | grep -v "test_" | grep -v "/core/examples/" | grep -v "/migrations/" | grep -v "/tests/" | grep -v "/examples.py" | xargs grep -l "print(" 2>/dev/null || echo "") && if [ -n "$FOUND" ]; then echo "$FOUND"; echo "Found print statements!"; exit 1; else echo "No print statements found!"; exit 0; fi'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^py/
        exclude: ^(py/tests/|.venv/)
      - id: ruff-format
        files: ^py/
        exclude: ^(py/tests/|.venv/)

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)/py" && python -m mypy --exclude "migrations" --exclude "venv*" --exclude "test_*" .'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|migrations/)

Update embedding model configurations in user and R2R TOML files to use Azure text-embedding models for improved consistency and performance.
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Comment out retrieval test in integration workflow to streamline testing process and focus on advanced retrieval functionality.
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Disable streaming in user and R2R configuration files for improved performance and consistency.
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Comment out retrieval integration test in workflow to streamline testing process and focus on other integration tests.
  .github/workflows/r2r-js-sdk-integration-tests.yml
Due: none

Refactor PDF parser configuration in user and R2R TOML files to simplify parser specification by changing from a list to a single value for improved clarity.
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Re-enable retrieval integration tests in JavaScript and Python workflows to ensure comprehensive testing coverage and validate retrieval functionality.
  .github/workflows/r2r-js-sdk-integration-tests.yml
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Comment out retrieval integration tests in JavaScript and Python workflows to streamline testing process and focus on other integration tests.
  .github/workflows/r2r-js-sdk-integration-tests.yml
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Update authentication provider in user configuration from 'r2r' to 'supabase' for improved integration.
  docker/user_configs/my_config.toml
Due: none

Update Supabase authentication method to use 'sign_in_with_password' for improved clarity in user login process.
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

Update comment in SupabaseAuthProvider login method for clarity on token retrieval process.
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

Update authentication provider in user configuration from 'supabase' to 'r2r' for improved integration.
  docker/user_configs/my_config.toml
Due: none

Update authentication provider in user configuration from 'r2r' to 'supabase' and clean up whitespace in SupabaseAuthProvider methods for improved code readability.
  docker/user_configs/my_config.toml
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

Add tavily support (#2111)
  docker/env/r2r-full.env
  docker/env/r2r.env
  py/core/agent/rag.py
  py/core/agent/research.py
  py/core/base/agent/agent.py
  py/core/configs/tavily.toml
  py/core/docs/tavily.md
Due: check-typing-imports, check-print-statements, mypy

Hotfix: Format #2111
  py/core/agent/rag.py
  py/core/agent/research.py
  py/core/configs/tavily.toml
  py/core/docs/tavily.md
Due: check-typing-imports, check-print-statements, mypy

Update PDF parser configuration across multiple TOML files from 'zerox' to 'ocr' for consistency and improved parsing accuracy.
  docker/user_configs/my_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/r2r/r2r.toml
Due: none

Update authentication provider in r2r.toml from 'r2r' to 'supabase' for consistency with recent configuration changes.
  py/r2r/r2r.toml
Due: none

Update authentication provider in configuration files from 'supabase' to 'r2r' and change PDF parser specification from 'ocr' to 'zerox' for improved consistency and parsing accuracy.
  docker/user_configs/my_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/r2r/r2r.toml
Due: none

Update test_agent.py to modify max_tokens configurations and adjust assertions for response length in agent tests, ensuring more accurate testing of token limits.
  py/tests/integration/test_agent.py
Due: check-typing-imports, mypy

Update PDF parser configuration across multiple TOML files to include 'ocr' alongside 'zerox' for enhanced parsing capabilities.
  docker/user_configs/my_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/r2r/r2r.toml
Due: none

Update Azure VM deployment workflow and Docker configurations to use specific R2R image version 3.5.11, enhancing stability and performance. Translate comments to English for better clarity.
  .github/workflows/deploy-to-azure-vm.yml
  docker/compose.full.swarm.yaml
  docker/compose.full.yaml
  docker/compose.yaml
Due: none

Update Supabase authentication methods and dependencies
  py/core/providers/auth/supabase.py
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Update PDF parser configuration in tavily.toml to include 'ocr' alongside 'zerox', enhancing parsing capabilities.
  py/core/configs/tavily.toml
Due: none

Update py/core/providers/auth/supabase.py
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

Update configuration in my_config.toml and r2r.toml to include additional RAG tools and enable streaming for improved functionality.
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Enable retrieval tests in integration workflows for both JavaScript and Python, enhancing test coverage.
  .github/workflows/r2r-js-sdk-integration-tests.yml
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Disable streaming in my_config.toml and r2r.toml for improved configuration consistency.
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Comment out retrieval tests in JavaScript and Python integration workflows, and update model configurations in my_config.toml for enhanced performance and consistency.
  .github/workflows/r2r-js-sdk-integration-tests.yml
  .github/workflows/r2r-light-py-integration-tests.yml
  docker/user_configs/my_config.toml
Due: none

Update r2r.toml to enhance model performance by increasing temperature to 1.0 and upgrading embedding model to 'azure/text-embedding-3-large' with a base dimension of 3072.
  py/r2r/r2r.toml
Due: none

Update Azure model configurations across multiple TOML files to use 'azure/text-embedding-3-large' with a base dimension of 3072, enhancing embedding performance.
  py/core/configs/full_azure.toml
  py/core/configs/r2r_azure.toml
  py/core/configs/r2r_azure_with_test_limits.toml
Due: none

Add embedding configurations for Azure model in full.toml to enhance performance
  py/core/configs/full.toml
Due: none

Fix API call in UsersRouter to use 'me()' instead of 'retrieve()' for user data retrieval
  py/core/main/api/v3/users_router.py
Due: check-typing-imports, check-print-statements, mypy

fix(agent): remove extra argument on tools call
  py/core/base/agent/agent.py
Due: check-typing-imports, check-print-statements, mypy

Fix API call in UsersRouter to use 'me()' instead of 'retrieve()' for user data retrieval (#2130)
  py/core/main/api/v3/users_router.py
Due: check-typing-imports, check-print-statements, mypy

Fix useFulltextSearch in SearchSettings
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/src/baseClient.ts
  js/sdk/src/types.ts
  js/sdk/src/v3/clients/retrieval.ts
Due: none

Update more fullText refs
  js/sdk/src/types.ts
  py/core/main/api/v3/examples.py
Due: check-typing-imports, check-print-statements, mypy

Fix useFulltextSearch in SearchSettings JS SDK (#2136)
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/src/baseClient.ts
  js/sdk/src/types.ts
  js/sdk/src/v3/clients/retrieval.ts
  py/core/main/api/v3/examples.py
Due: check-typing-imports, check-print-statements, mypy

Fix UUID handling for non-superuser content retrieval tool
  py/core/main/services/retrieval_service.py
  py/core/providers/database/documents.py
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Fix UUID handling for non-superuser content retrieval tool (#2137)
  py/core/main/services/retrieval_service.py
  py/core/providers/database/documents.py
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Add configurable LLM timeouts
  py/core/base/providers/llm.py
  py/core/parsers/media/pdf_parser.py
  py/r2r/r2r.toml
Due: check-typing-imports, check-print-statements, mypy

Increase request timeout
  py/r2r/r2r.toml
Due: none
