Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.venv/
      - id: end-of-file-fixer
        exclude: ^.venv/
      - id: check-added-large-files
        exclude: ^.venv/
      - id: check-ast
        exclude: ^.venv/
      - id: check-yaml
        exclude: ^.venv/

  - repo: local
    hooks:
      - id: check-typing-imports
        name: Check for Dict, List, or Union usage
        entry: bash -c 'echo "Checking for typing imports..." && find . -name "*.py" | grep -v "/migrations/" | grep -v "/.venv/" | xargs grep -n "from typing.*import.*[^d]Dict\\|from typing.*import.*List\\|from typing.*import.*Union" || exit 0 && echo "⚠️  Please import dict instead of Dict, list instead of List, and the logical OR operator" && exit 1'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|py/migrations/)

  - repo: local
    hooks:
      - id: check-print-statements
        name: Check for print statements
        entry: bash -c 'echo "Checking for print statements..." && find . -type f -name "*.py" -not -path "**/.venv/**" -not -path "**/py/core/examples/**" -not -path "**/py/migrations/**" -not -path "**/py/tests/**" -not -path "**/examples.py" -not -path "**/test_*" | xargs grep -n "print(" || exit 0 && echo "Found print statements!" && exit 1'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^py/
        exclude: ^(py/tests/|.venv/)
      - id: ruff-format
        files: ^py/
        exclude: ^(py/tests/|.venv/)

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd py && python -m mypy --exclude "migrations" .'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|migrations/)

Fix async streaming in Python SDK (#2095)
  py/sdk/asnyc_methods/retrieval.py
Due: check-typing-imports, check-print-statements, mypy

Implement RetryableR2RAsyncClient
  py/tests/integration/conftest.py
Due: check-typing-imports, mypy

Move scope
  py/tests/integration/conftest.py
Due: check-typing-imports, mypy

Make sync retry client, bump packages
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/pnpm-lock.yaml
  py/pyproject.toml
  py/tests/integration/conftest.py
Due: check-typing-imports, mypy

Move full tests to a matrix
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Don't test commented out tests, add rate limit catch
  .github/workflows/r2r-light-py-integration-tests.yml
  py/tests/integration/conftest.py
Due: check-typing-imports, mypy

Add OCR provider to unstructured
  py/core/providers/ingestion/unstructured/base.py
Due: check-typing-imports, check-print-statements, mypy

Add OCR Provider to Unstructured
  py/core/providers/ingestion/unstructured/base.py
Due: check-typing-imports, check-print-statements, mypy

Add ocr_provider to UnstructuredIngestionProvider initialization
  py/core/main/assembly/factory.py
Due: check-typing-imports, check-print-statements, mypy

Add OCR Provider to Unstructured Provider (#2098)
  py/core/main/assembly/factory.py
  py/core/providers/ingestion/unstructured/base.py
Due: check-typing-imports, check-print-statements, mypy

Update README.md
  py/README.md
Due: none

fix bug with `collection_ids` `$contains` filter flow
  py/core/providers/database/filters.py
  py/core/providers/database/simplified_filters.py
Due: check-typing-imports, check-print-statements, mypy

extend test database filters, rm old filters
  py/README.md
  py/core/providers/database/filters.py
  py/tests/unit/app/test_routes.py
  py/tests/unit/retrieval/conftest.py
  py/tests/unit/retrieval/test_database_filters.py
  py/tests/unit/retrieval/test_filters_old.py
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

fix tests
  py/core/providers/database/filters.py
  py/tests/unit/agent/test_agent_citations_old.py
  py/tests/unit/agent/test_agent_old.py
  py/tests/unit/app/test_routes.py
  py/tests/unit/database/test_prompts.py
  py/tests/unit/retrieval/test_database_filters.py
  py/tests/unit/retrieval/test_retrieval_core.py
  py/tests/unit/retrieval/test_retrieval_old.py
  py/tests/unit/retrieval/test_search_methods.py
Due: check-typing-imports, check-print-statements, mypy

Update retry logic to be more permissive
  py/tests/integration/conftest.py
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, mypy

up for commit
  js/sdk/src/v3/clients/documents.ts
  js/sdk/src/v3/clients/retrieval.ts
  py/core/main/api/v3/examples.py
  py/core/providers/database/filters.py
  py/sdk/sync_methods/documents.py
  py/shared/abstractions/search.py
  py/tests/unit/database/test_prompts.py
Due: check-typing-imports, check-print-statements, mypy

make sync
  py/tests/integration/conftest.py
Due: check-typing-imports, mypy

fix js sdk
  js/sdk/src/types.ts
  js/sdk/src/v3/clients/documents.ts
Due: none

Implement RetryableR2RAsyncClient (#2096)
  .github/workflows/r2r-light-py-integration-tests.yml
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/pnpm-lock.yaml
  py/pyproject.toml
  py/tests/integration/conftest.py
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, mypy

fix failing tests
  py/core/main/api/v3/documents_router.py
  py/core/providers/database/filters.py
  py/sdk/sync_methods/documents.py
  py/tests/integration/test_collection_id_filter.py
  py/tests/integration/test_documents.py
  py/tests/integration/test_filters.py
  py/tests/unit/retrieval/test_database_filters.py
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

fix tests
  .github/workflows/r2r-light-py-integration-tests.yml
  py/core/base/providers/base.py
  py/core/base/providers/ingestion.py
  py/core/main/api/v3/documents_router.py
  py/core/main/services/ingestion_service.py
  py/core/parsers/media/img_parser.py
  py/core/parsers/media/pdf_parser.py
  py/core/providers/database/filters.py
  py/core/providers/database/postgres.py
  py/shared/abstractions/document.py
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, check-print-statements, mypy

fix complex nested filters
  py/all_possible_config.toml
  py/core/providers/database/filters.py
  py/tests/unit/retrieval/test_database_filters.py
Due: check-typing-imports, check-print-statements, mypy

lint
  py/core/providers/database/filters.py
Due: check-typing-imports, check-print-statements, mypy

modify r2ragent
  py/core/__init__.py
  py/core/agent/__init__.py
  py/core/agent/base.py
  py/core/agent/rag.py
  py/core/main/services/retrieval_service.py
Due: check-typing-imports, check-print-statements, mypy

fixes
  py/core/agent/__init__.py
  py/core/agent/base.py
  py/core/agent/rag.py
Due: check-typing-imports, check-print-statements, mypy

Hotfix: Add Anthropic API key
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Hotfix: Typo in env var name
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Fix SDK type error
  py/core/providers/ingestion/r2r/base.py
  py/core/providers/ingestion/unstructured/base.py
  py/pyproject.toml
  py/sdk/sync_methods/documents.py
Due: check-typing-imports, check-print-statements, mypy

Update dashboard tag
  docker/compose.full.swarm.yaml
  docker/compose.full.yaml
  docker/compose.yaml
Due: none

Update Unstructured Provider, Fix Type Error in SDK (#2103)
  docker/compose.full.swarm.yaml
  docker/compose.full.yaml
  docker/compose.yaml
  py/core/providers/ingestion/r2r/base.py
  py/core/providers/ingestion/unstructured/base.py
  py/pyproject.toml
  py/sdk/sync_methods/documents.py
Due: check-typing-imports, check-print-statements, mypy

Move from PyMuPDF to pdf2image
  py/all_possible_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/core/parsers/media/pdf_parser.py
  py/pyproject.toml
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

Move from PyMuPDF to pdf2image (#2105)
  py/all_possible_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/core/parsers/media/pdf_parser.py
  py/pyproject.toml
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

Add Docker Compose configuration and environment files for R2R setup
  docker/compose.dev.yaml
  docker/env/r2r-full.env.backup
  docker/env/r2r-full.env.template
  docker/env/r2r.env.backup
  docker/env/r2r.env.template
  todo_list.txt
Due: none

Update R2R service in Docker Compose to build from local Dockerfile for quicker R2R development process
  docker/compose.dev.yaml
Due: none

Update CONTRIBUTING.md with development setup instructions and development Docker Compose configuration
  CONTRIBUTING.md
Due: none

Formatting Refactor
  .gitignore
  CONTRIBUTING.md
  docker/compose.dev.yaml
  docker/env/r2r-full.env
  docker/env/r2r.env
  docker/user_configs/config.toml
Due: none

Bump HTTPX
  py/pyproject.toml
Due: none

Move to httpx >=0.27.0, LiteLLM error
  py/pyproject.toml
  py/uv.lock
Due: none

Bump HTTPX (#2106)
  py/pyproject.toml
  py/uv.lock
Due: none
