Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

check-typing-imports:
  name: Check for Dict, List, or Union usage
  ...

check-print-statements:
  name: Check for print statements
  ...

mypy:
  name: mypy
  entry: bash -c 'cd py && python -m mypy --exclude "migrations" .'
  language: system
  pass_filenames: false

Remove old update metadata workflows
  py/core/main/api/v3/documents_router.py
  py/core/main/orchestration/hatchet/ingestion_workflow.py
  py/core/main/orchestration/simple/ingestion_workflow.py
  py/core/main/services/ingestion_service.py
Due: check-typing-imports, check-print-statements, mypy

Remove old update metadata workflows (#2107)
  py/core/main/api/v3/documents_router.py
  py/core/main/orchestration/hatchet/ingestion_workflow.py
  py/core/main/orchestration/simple/ingestion_workflow.py
  py/core/main/services/ingestion_service.py
Due: check-typing-imports, check-print-statements, mypy

Switch model prefix to ollama in reference config
  py/core/configs/full_ollama.toml
  py/core/configs/ollama.toml
Due: none

Add RecursiveDirectoryFileScanner class for directory file scanning and filtering, Wrote tests for the class to.
  py/core/utils/upload_directories_files.py
  py/pyproject.toml
  py/tests/unit/document/test_dir_scanner.py
Due: check-typing-imports, check-print-statements, mypy

Add file size limits for coding file types in config.toml
  docker/user_configs/config.toml
Due: none

Switch model prefix to ollama in reference config (#2108)
  py/core/configs/full_ollama.toml
  py/core/configs/ollama.toml
Due: none

Update my_config.toml
  docker/user_configs/my_config.toml
Due: none

update deploy-to-azure-vm-yml
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Update deploy-to-azure-vm.yml
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Update r2r.toml
  py/r2r/r2r.toml
Due: none

Update pyproject.toml to switch to Poetry for dependency management and increment version to 3.5.9 and fixed some broken options in it.
  py/pyproject.toml
Due: none

Added dir_scan in Python. Added tests for it. Renamed testnames as they had cloned names and were clashing.
  .gitignore
Due: none

Add tavily support
  docker/env/r2r-full.env
  docker/env/r2r.env
  py/core/agent/rag.py
  py/core/base/agent/agent.py
  py/core/configs/tavily.toml
  py/core/docs/tavily.md
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Fix typos
  py/core/agent/rag.py
Due: check-typing-imports, check-print-statements, mypy

Remove tavily dependency and update tool description
  py/core/agent/rag.py
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Fix hardcoded tools
  py/core/agent/research.py
Due: check-typing-imports, check-print-statements, mypy

Rename llms.txt to llms.md
  llms.md
Due: none

Bump LiteLLM, OpenAI
  py/pyproject.toml
  py/uv.lock
Due: none

Bump package
  py/pyproject.toml
Due: none

Bump LiteLLM, OpenAI (#2115)
  py/pyproject.toml
  py/uv.lock
Due: none

Update test_users.py
  py/tests/integration/test_users.py
Due: check-typing-imports, mypy

Update SystemIntegrationUser.test.ts
  js/sdk/__tests__/SystemIntegrationUser.test.ts
Due: none

Update UsersIntegrationSuperUser.test.ts
  js/sdk/__tests__/UsersIntegrationSuperUser.test.ts
Due: none

Update SystemIntegrationSuperUser.test.ts
  js/sdk/__tests__/SystemIntegrationSuperUser.test.ts
Due: none

Update RetrievalIntegrationSuperUser.test.ts
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
Due: none

Update PromptsIntegrationSuperUser.test.ts
  js/sdk/__tests__/PromptsIntegrationSuperUser.test.ts
Due: none

Update DocumentsAndCollectionsIntegrationUser.test.ts
  js/sdk/__tests__/DocumentsAndCollectionsIntegrationUser.test.ts
Due: none

Update ChunksIntegrationSuperUser.test.ts
  js/sdk/__tests__/ChunksIntegrationSuperUser.test.ts
Due: none

Path conditions:
  check-typing-imports: any of: \.py$, but not: ^(.venv/|py/migrations/)
  check-print-statements: any of: \.py$, but not: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)
  mypy: any of: \.py$, but not: ^(.venv/|migrations/)
