Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

check-typing-imports:
  name: Check for Dict, List, or Union usage
  ...

check-print-statements:
  name: Check for print statements
  ...

mypy:
  name: mypy
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)/py" && python -m mypy --exclude "migrations" --exclude "venv*" --exclude "test_*" .'
  language: system
  pass_filenames: false

Expose max tokens to sample for VLM (#2159)
  py/all_possible_config.toml
  py/core/base/providers/ingestion.py
  py/core/parsers/media/pdf_parser.py
  py/pyproject.toml
  py/shared/abstractions/document.py
Due: check-typing-imports, check-print-statements, mypy

Pushing a suggestion
  py/core/main/config.py
Due: check-typing-imports, check-print-statements, mypy

Update orchestration provider to 'hatchet' and adjust concurrency settings
  docker/user_configs/my_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/r2r/r2r.toml
Due: none

Reduce ingestion concurrency limit to 4 in orchestration configurations
  docker/user_configs/my_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/r2r/r2r.toml
Due: none

Change orchestration provider from 'hatchet' to 'simple' and remove concurrency limits
  py/r2r/r2r.toml
Due: none

Update hatchet environment configuration to include SSL mode
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Update environment configuration for hatchet by removing SSL mode
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Fix typo in workflow comment for Azure VM deployment
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Update environment variable reference in Azure VM deployment workflow
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Update R2R Docker image version to 3.5.17
  .github/workflows/deploy-to-azure-vm.yml
  docker/compose.full.yaml
Due: none

Fix typo in deploy-to-azure-vm workflow comment
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Update environment variable references in Azure VM deployment workflow
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Check in refactor no qa
  docker/user_tools/README.md
  py/core/agent/rag.py
  py/core/base/agent/tools/base.py
  py/core/base/agent/tools/built_in/get_file_content.py
  py/core/base/agent/tools/built_in/search_file_descriptions.py
  py/core/base/agent/tools/built_in/search_file_knowledge.py
  py/core/base/agent/tools/built_in/tavily_extract.py
  py/core/base/agent/tools/built_in/tavily_search.py
  py/core/base/agent/tools/built_in/web_scrape.py
  py/core/base/agent/tools/built_in/web_search.py
  py/core/base/agent/tools/registry.py
  py/core/main/services/retrieval_service.py
Due: check-typing-imports, check-print-statements, mypy

Pre-commit hook
  py/core/base/agent/tools/built_in/get_file_content.py
  py/core/base/agent/tools/built_in/search_file_descriptions.py
  py/core/base/agent/tools/built_in/search_file_knowledge.py
  py/core/base/agent/tools/built_in/tavily_extract.py
  py/core/base/agent/tools/built_in/tavily_search.py
  py/core/base/agent/tools/built_in/web_scrape.py
  py/core/base/agent/tools/built_in/web_search.py
Due: check-typing-imports, check-print-statements, mypy

Ensure context is passed correctly
  py/core/agent/rag.py
  py/core/base/agent/agent.py
  py/core/base/agent/tools/base.py
  py/core/base/agent/tools/built_in/get_file_content.py
  py/core/base/agent/tools/built_in/search_file_descriptions.py
  py/core/base/agent/tools/built_in/search_file_knowledge.py
  py/core/base/agent/tools/built_in/tavily_extract.py
  py/core/base/agent/tools/built_in/tavily_search.py
  py/core/base/agent/tools/built_in/web_scrape.py
  py/core/base/agent/tools/built_in/web_search.py
  py/core/base/agent/tools/registry.py
Due: check-typing-imports, check-print-statements, mypy

Clean up some type errors
  py/core/base/agent/tools/built_in/get_file_content.py
  py/core/base/agent/tools/built_in/search_file_descriptions.py
  py/core/base/agent/tools/built_in/tavily_extract.py
  py/core/base/agent/tools/built_in/tavily_search.py
  py/core/base/agent/tools/built_in/web_scrape.py
  py/core/base/agent/tools/built_in/web_search.py
  py/core/main/services/retrieval_service.py
  py/shared/abstractions/search.py
  py/shared/utils/base_utils.py
Due: check-typing-imports, check-print-statements, mypy

More clean ups
  py/core/base/agent/tools/built_in/search_file_descriptions.py
  py/core/base/agent/tools/built_in/tavily_extract.py
  py/core/base/agent/tools/built_in/tavily_search.py
  py/core/base/agent/tools/built_in/web_scrape.py
  py/core/base/agent/tools/registry.py
  py/core/main/services/retrieval_service.py
  py/shared/abstractions/document.py
Due: check-typing-imports, check-print-statements, mypy

Break out tool abstraction
  docker/user_tools/README.md
  py/core/__init__.py
  py/core/agent/rag.py
  py/core/agent/research.py
  py/core/base/__init__.py
  py/core/base/agent/__init__.py
  py/core/base/agent/agent.py
  py/core/base/agent/tools/built_in/get_file_content.py
  py/core/base/agent/tools/built_in/search_file_descriptions.py
  py/core/base/agent/tools/built_in/search_file_knowledge.py
  py/core/base/agent/tools/built_in/tavily_extract.py
  py/core/base/agent/tools/built_in/tavily_search.py
  py/core/base/agent/tools/built_in/web_scrape.py
  py/core/base/agent/tools/built_in/web_search.py
  py/core/base/agent/tools/registry.py
  py/shared/abstractions/__init__.py
  py/shared/abstractions/search.py
  py/shared/abstractions/tool.py
  py/shared/utils/base_utils.py
Due: check-typing-imports, check-print-statements, mypy

Allow for user defined dependencies to be installed
  docker/compose.full.yaml
  docker/compose.yaml
  docker/user_tools/README.md
  docker/user_tools/user_requirements.txt
  py/core/base/agent/tools/registry.py
Due: check-typing-imports, check-print-statements, mypy

Update environment variable references in hatchet.env for PostgreSQL settings
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Update environment variable references in hatchet.env for MySQL settings
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Update authentication provider from R2R to Supabase in my_config.toml
  .github/workflows/deploy-to-azure-vm.yml
  docker/user_configs/my_config.toml
Due: none

Update environment variable references in hatchet.env for Redis settings
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Add owner_only filter on collections
  js/sdk/__tests__/DocumentsAndCollectionsIntegrationUser.test.ts
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/src/v3/clients/collections.ts
  py/core/main/api/v3/collections_router.py
  py/core/main/services/management_service.py
  py/core/providers/database/collections.py
  py/pyproject.toml
  py/sdk/asnyc_methods/collections.py
  py/sdk/sync_methods/collections.py
  py/tests/integration/test_users.py
Due: check-typing-imports, check-print-statements, mypy

Fix typo in deploy-to-azure-vm.yml comment
  .github/workflows/deploy-to-azure-vm.yml
Due: none

Add owner_only to list documents
  js/sdk/__tests__/DocumentsAndCollectionsIntegrationUser.test.ts
  js/sdk/src/v3/clients/documents.ts
  py/core/main/api/v3/documents_router.py
  py/core/main/services/management_service.py
  py/core/providers/database/documents.py
  py/sdk/asnyc_methods/documents.py
  py/sdk/sync_methods/documents.py
  py/tests/integration/test_users.py
Due: check-typing-imports, check-print-statements, mypy

Add owner_only filter on collections and documents (#2163)
  js/sdk/__tests__/DocumentsAndCollectionsIntegrationUser.test.ts
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/src/v3/clients/collections.ts
  js/sdk/src/v3/clients/documents.ts
  py/core/main/api/v3/collections_router.py
  py/core/main/api/v3/documents_router.py
  py/core/main/services/management_service.py
  py/core/providers/database/collections.py
  py/core/providers/database/documents.py
  py/pyproject.toml
  py/sdk/asnyc_methods/collections.py
  py/sdk/asnyc_methods/documents.py
  py/sdk/sync_methods/collections.py
  py/sdk/sync_methods/documents.py
  py/tests/integration/test_users.py
Due: check-typing-imports, check-print-statements, mypy

Break out the dependency install logic
  py/core/base/agent/agent.py
  py/core/base/agent/tools/registry.py
  py/core/base/providers/base.py
  py/core/main/api/v3/retrieval_router.py
  py/core/main/assembly/builder.py
  py/core/main/assembly/utils.py
Due: check-typing-imports, check-print-statements, mypy

Precommit
  py/core/main/assembly/utils.py
Due: check-typing-imports, check-print-statements, mypy

Break out File Provider
  py/core/base/__init__.py
  py/core/base/providers/__init__.py
  py/core/base/providers/file.py
  py/core/main/abstractions.py
  py/core/main/api/v3/documents_router.py
  py/core/main/assembly/factory.py
  py/core/main/config.py
  py/core/main/services/ingestion_service.py
  py/core/main/services/management_service.py
  py/core/providers/__init__.py
  py/core/providers/database/postgres.py
  py/core/providers/file/__init__.py
  py/core/providers/file/postgres.py
  py/core/providers/file/s3.py
  py/r2r/r2r.toml
Due: check-typing-imports, check-print-statements, mypy

Pre-commit
  py/core/base/providers/file.py
  py/core/providers/file/postgres.py
  py/core/providers/file/s3.py
Due: check-typing-imports, check-print-statements, mypy

Lint
  py/core/providers/file/s3.py
Due: check-typing-imports, check-print-statements, mypy

Refactor Supabase token retrieval to remove unnecessary await
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

fix: update Supabase token retrieval to remove unnecessary await
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

fix: remove unnecessary await from Supabase authentication methods
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

Add validate_config method
  py/core/base/providers/file.py
Due: check-typing-imports, check-print-statements, mypy

Add mock_file to tests
  py/tests/unit/app/test_routes.py
Due: check-typing-imports, mypy

S3 implementation
  py/all_possible_config.toml
  py/core/base/providers/file.py
  py/core/providers/file/s3.py
Due: check-typing-imports, check-print-statements, mypy

Remove bad example supported file, uncomment tests
  py/core/examples/supported_file_types/xml.xml
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, mypy

Fix Tiff Parsing
  py/all_possible_config.toml
  py/core/base/providers/base.py
  py/core/parsers/media/img_parser.py
  py/shared/abstractions/document.py
Due: check-typing-imports, check-print-statements, mypy

Path conditions:
  check-typing-imports: any of: \.py$
  check-print-statements: any of: \.py$, but not: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)
  mypy: any of: \.py$, but not: ^(.venv/|migrations/)
