Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

check-typing-imports:
  name: Check for Dict, List, or Union usage
  ...

check-print-statements:
  name: Check for print statements
  ...

mypy:
  name: mypy
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)/py" && python -m mypy --exclude "migrations" --exclude "venv*" --exclude "test_*" .'
  language: system
  pass_filenames: false

Update PDF parser configuration in my_config.toml to use 'zerox' for improved processing.
  docker/user_configs/my_config.toml
Due: none

Update LLM configurations in multiple TOML files to use Azure models instead of OpenAI for improved performance and consistency.
  docker/user_configs/my_config.toml
  py/core/configs/r2r_azure_with_test_limits.toml
  py/r2r/r2r.toml
Due: none

Add R2R_BASE_URL environment variable to integration test workflows for improved configuration management.
  .github/workflows/r2r-js-sdk-integration-tests.yml
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Update R2RClient initialization in examples and core files to use a specific base URL for improved connectivity.
  js/sdk/examples/hello_r2r.js
  py/core/examples/hello_r2r.ipynb
  py/core/examples/hello_r2r.py
  py/r2r/mcp.py
Due: check-typing-imports, check-print-statements, mypy

Update R2RClient initialization in various examples to use localhost for local development and adjust rate limits in configuration files for testing purposes.
  js/sdk/examples/hello_r2r.js
  py/core/configs/r2r_azure_with_test_limits.toml
  py/core/examples/hello_r2r.ipynb
  py/core/examples/hello_r2r.py
  py/core/examples/supported_file_types/js.js
Due: check-typing-imports, mypy

Update R2RClient initialization in examples and configuration files to use a new base URL for improved connectivity.
  js/sdk/examples/hello_r2r.js
  py/core/examples/hello_r2r.py
  py/core/examples/supported_file_types/js.js
  py/tests/rateLimit.bash
Due: check-typing-imports, mypy

Update LLM configurations in my_config.toml and r2r.toml to use OpenAI models instead of Azure for improved performance and consistency.
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Update LLM configurations in r2r_azure_with_test_limits.toml to use OpenAI models instead of Azure for improved performance and consistency.
  py/core/configs/r2r_azure_with_test_limits.toml
Due: none

Change require_authentication setting in r2r.toml from true to false to allow access without authentication.
  py/r2r/r2r.toml
Due: none

Update PDF parser configuration in multiple TOML files to include 'ocr' alongside 'zerox' for enhanced processing capabilities.
  docker/user_configs/my_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/r2r/r2r.toml
Due: none

Update LLM configurations in multiple TOML files to use Azure models instead of OpenAI for improved performance and consistency.
  docker/user_configs/my_config.toml
  py/core/configs/r2r_azure.toml
  py/core/configs/r2r_azure_with_test_limits.toml
  py/r2r/r2r.toml
Due: none

Update graph_extraction.yaml
  py/core/providers/database/prompts/graph_extraction.yaml
Due: none

Update graph_extraction.yaml (#2124)
  py/core/providers/database/prompts/graph_extraction.yaml
Due: none

Add console log for response text in RetrievalIntegrationSuperUser test for debugging purposes.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
Due: none

Add searchSettings limit to Streaming RAG test for enhanced query control.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
Due: none

Fix typo in graph_extraction.yaml by correcting 'entit' to 'entity' for clarity in entity extraction steps.
  py/core/providers/database/prompts/graph_extraction.yaml
Due: none

Remove searchSettings limit from Streaming RAG test to simplify query execution.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
Due: none

Update query in Streaming RAG test to "What is DeepSeek R1?" and reintroduce searchSettings limit for improved query control.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
Due: none

Add model configuration for Streaming RAG test to use Azure GPT-4o-mini for improved performance.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
Due: none

Remove searchSettings limit from RetrievalIntegrationSuperUser test to streamline configuration and enhance query execution.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
Due: none

Update Streaming RAG test to include basic search mode and remove model configuration for improved flexibility.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
Due: none

Update quality LLM configuration in multiple TOML files to use Azure GPT-4o-mini for consistency and improved performance.
  docker/user_configs/my_config.toml
  py/core/configs/full_azure.toml
  py/core/configs/r2r_azure_with_test_limits.toml
  py/r2r/r2r.toml
Due: none

Enable streaming in generation configuration across multiple TOML files for enhanced real-time processing capabilities.
  docker/user_configs/my_config.toml
  py/core/configs/r2r_azure_with_test_limits.toml
  py/r2r/r2r.toml
Due: none

Fix chunk size, chunk overlap
  js/sdk/__tests__/DocumentsIntegrationSuperUser.test.ts
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/src/types.ts
  js/sdk/src/v3/clients/documents.ts
  py/core/base/providers/ingestion.py
  py/core/providers/ingestion/r2r/base.py
  py/pyproject.toml
  py/tests/integration/test_documents.py
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

Remove poorly constructured test
  py/tests/integration/test_documents.py
Due: check-typing-imports, mypy

Fix chunk size, chunk overlap in Ingestion Config overrides (#2126)
  js/sdk/__tests__/DocumentsIntegrationSuperUser.test.ts
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/src/types.ts
  js/sdk/src/v3/clients/documents.ts
  py/core/base/providers/ingestion.py
  py/core/providers/ingestion/r2r/base.py
  py/pyproject.toml
  py/tests/integration/test_documents.py
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

Refactor LLM configurations in r2r_azure_with_test_limits.toml to streamline model usage and introduce user and route limits for enhanced testing capabilities.
  py/core/configs/r2r_azure_with_test_limits.toml
Due: none

Update route_per_min limit in r2r_azure_with_test_limits.toml for user configuration to ensure proper rate limiting during testing.
  py/core/configs/r2r_azure_with_test_limits.toml
Due: none

Update LLM configurations in full_azure.toml and r2r_azure_with_test_limits.toml to standardize audio model usage and adjust embedding model parameters for improved performance.
  py/core/configs/full_azure.toml
  py/core/configs/r2r_azure_with_test_limits.toml
Due: none

Update embedding model configurations in multiple TOML files to use Azure text-embedding-3-large with increased dimensions for enhanced performance.
  docker/user_configs/my_config.toml
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
  py/core/configs/r2r_azure_with_test_limits.toml
  py/r2r/r2r.toml
Due: none

Update LLM and embedding model configurations across multiple TOML files to use Azure GPT-4o and Azure text-embedding-3-small for improved performance and consistency.
  docker/user_configs/my_config.toml
  py/core/configs/full.toml
  py/core/configs/full_azure.toml
  py/core/configs/r2r_azure.toml
  py/core/configs/r2r_azure_with_test_limits.toml
  py/r2r/r2r.toml
Due: none

Add MISTRAL_API_KEY to integration test workflow and enhance RAG stream query with retry logic
  .github/workflows/r2r-js-sdk-integration-tests.yml
  py/tests/integration/test_retrieval.py
Due: check-typing-imports, mypy

Update model configuration in examples and retrieval router to use Azure GPT-4o-mini for consistency; refactor RAG stream query test by removing retry logic for simplicity.
  py/core/main/api/v3/examples.py
  py/core/main/api/v3/retrieval_router.py
  py/tests/integration/test_retrieval.py
Due: check-typing-imports, check-print-statements, mypy

Update model configuration in examples and retrieval router to use OpenAI GPT-4o-mini; enhance RAG stream query test by adding hybrid search option and ensuring proper cleanup.
  py/core/main/api/v3/examples.py
  py/core/main/api/v3/retrieval_router.py
  py/tests/integration/test_retrieval.py
Due: check-typing-imports, check-print-statements, mypy

Enhance RAG stream query tests by updating query parameters and increasing max tokens; ensure consistent search settings across JavaScript and Python integration tests.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
  py/tests/integration/test_retrieval.py
Due: check-typing-imports, mypy

Refactor RAG stream query tests by reducing max tokens in Python integration test and removing unnecessary parameters in JavaScript test for improved consistency and clarity.
  js/sdk/__tests__/RetrievalIntegrationSuperUser.test.ts
  py/tests/integration/test_retrieval.py
Due: check-typing-imports, mypy

Update model configuration to use Azure GPT-4o-mini and enable streaming in user configuration files for improved performance and flexibility.
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Update default R2R configuration to 'full_azure' and remove model specification from generation config in user configuration files for improved consistency.
  .github/actions/start-r2r-light/action.yml
  docker/user_configs/my_config.toml
  py/r2r/r2r.toml
Due: none

Update default R2R configuration to 'r2r_azure_with_test_limits' for enhanced testing capabilities.
  .github/actions/start-r2r-light/action.yml
Due: none

Path conditions:
  check-typing-imports: any of: \.py$
  check-print-statements: any of: \.py$, but not: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)
  mypy: any of: \.py$, but not: ^(.venv/|migrations/)
