Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

check-typing-imports:
  name: Check for Dict, List, or Union usage
  ...

check-print-statements:
  name: Check for print statements
  ...

mypy:
  name: mypy
  entry: bash -c 'cd py && python -m mypy --exclude "migrations" .'
  language: system
  pass_filenames: false

type fixes
  js/sdk/src/types.ts
Due: none

File types for Python, JavaScript, TypeScript and CSS added. (#2073)
  .gitignore
  .pre-commit-config.yaml
  README.md
  docker/compose.yaml
  docker/env/hatchet.env
  docker/env/postgres.env
  docker/env/r2r-dashboard.env
  docker/env/r2r-full.env
  docker/env/r2r.env
  py/core/__init__.py
  py/core/examples/supported_file_types/css.css
  py/core/examples/supported_file_types/js.js
  py/core/examples/supported_file_types/py.py
  py/core/examples/supported_file_types/ts.ts
  py/core/parsers/__init__.py
  py/core/parsers/text/__init__.py
  py/core/parsers/text/css_parser.py
  py/core/parsers/text/js_parser.py
  py/core/parsers/text/python_parser.py
  py/core/parsers/text/ts_parser.py
  py/core/providers/ingestion/r2r/base.py
  py/shared/abstractions/document.py
  py/tests/integration/test_ingestion.py
  py/tests/scaling/__init__.py
Due: check-typing-imports, check-print-statements, mypy

More JS/TS SDK type fixes (#2088)
  js/sdk/src/types.ts
Due: none

Hotfix: Add back example envs and docker compose
  .gitignore
  docker/compose.yaml
  docker/env/hatchet.env
  docker/env/postgres.env
  docker/env/r2r-dashboard.env
  docker/env/r2r-full.env
  docker/env/r2r.env
Due: none

Add scheduler and vacuum
  py/core/__init__.py
  py/core/base/providers/__init__.py
  py/core/base/providers/database.py
  py/core/base/providers/scheduler.py
  py/core/main/__init__.py
  py/core/main/abstractions.py
  py/core/main/assembly/builder.py
  py/core/main/assembly/factory.py
  py/core/main/config.py
  py/core/main/services/__init__.py
  py/core/main/services/maintenance_service.py
  py/core/providers/__init__.py
  py/core/providers/database/maintenance.py
  py/core/providers/database/postgres.py
  py/core/providers/scheduler/__init__.py
  py/core/providers/scheduler/apscheduler.py
  py/r2r/r2r.toml
Due: check-typing-imports, check-print-statements, mypy

Lint
  py/core/base/providers/scheduler.py
  py/core/main/services/maintenance_service.py
  py/core/providers/database/maintenance.py
  py/core/providers/scheduler/__init__.py
  py/core/providers/scheduler/apscheduler.py
Due: check-typing-imports, check-print-statements, mypy

Refactor test workflow, add mock scheduler to tests
  .github/workflows/r2r-light-py-integration-tests.yml
  py/tests/unit/test_routes.py
Due: check-typing-imports, mypy

0 3 * * *
  py/r2r/r2r.toml
Due: none

Missing quote in toml
  py/r2r/r2r.toml
Due: none

Add maintenance service mock
  py/tests/unit/test_routes.py
Due: check-typing-imports, mypy

Add Scheduler and Postgres Vacuum (#2089)
  .github/workflows/r2r-light-py-integration-tests.yml
  py/core/__init__.py
  py/core/base/providers/__init__.py
  py/core/base/providers/database.py
  py/core/base/providers/scheduler.py
  py/core/main/__init__.py
  py/core/main/abstractions.py
  py/core/main/assembly/builder.py
  py/core/main/assembly/factory.py
  py/core/main/config.py
  py/core/main/services/__init__.py
  py/core/main/services/maintenance_service.py
  py/core/providers/__init__.py
  py/core/providers/database/maintenance.py
  py/core/providers/database/postgres.py
  py/core/providers/scheduler/__init__.py
  py/core/providers/scheduler/apscheduler.py
  py/r2r/r2r.toml
  py/tests/unit/test_routes.py
Due: check-typing-imports, check-print-statements, mypy

Check in Mistral OCR work
  py/core/__init__.py
  py/core/base/__init__.py
  py/core/base/providers/__init__.py
  py/core/base/providers/ingestion.py
  py/core/main/api/v3/documents_router.py
  py/core/parsers/__init__.py
  py/core/parsers/media/__init__.py
  py/core/parsers/media/pdf_parser.py
  py/core/providers/ingestion/r2r/base.py
  py/core/providers/ingestion/unstructured/base.py
  py/mistral.py
  py/r2r/r2r.toml
  py/shared/abstractions/document.py
Due: check-typing-imports, check-print-statements, mypy

Release 3.5.6
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/pnpm-lock.yaml
  py/pyproject.toml
Due: none

Release 3.5.6 (#2090)
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/pnpm-lock.yaml
  py/pyproject.toml
Due: none

integrate mem0
  py/core/__init__.py
  py/core/agent/__init__.py
  py/core/agent/base.py
  py/core/agent/rag.py
  py/core/main/services/retrieval_service.py
  py/shared/abstractions/llm.py
Due: check-typing-imports, check-print-statements, mypy

Update README.md
  py/README.md
Due: none

Refactor to add OCR provider
  py/Dockerfile copy
  py/core/__init__.py
  py/core/base/providers/__init__.py
  py/core/base/providers/ingestion.py
  py/core/base/providers/ocr.py
  py/core/main/abstractions.py
  py/core/main/api/v3/documents_router.py
  py/core/main/assembly/factory.py
  py/core/main/config.py
  py/core/parsers/__init__.py
  py/core/parsers/media/__init__.py
  py/core/parsers/media/pdf_parser.py
  py/core/providers/__init__.py
  py/core/providers/ingestion/r2r/base.py
  py/core/providers/ingestion/unstructured/base.py
  py/core/providers/ocr/__init__.py
  py/core/providers/ocr/mistral.py
  py/mistral.py
  py/pyproject.toml
  py/r2r/r2r.toml
  py/r2r/serve.py
  py/shared/abstractions/document.py
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

Allow for multiple parser overrides
  js/sdk/src/v3/clients/documents.ts
  py/core/base/providers/ocr.py
  py/core/providers/ingestion/r2r/base.py
  py/core/providers/ocr/mistral.py
  py/mistral.py
  py/r2r/r2r.toml
Due: check-typing-imports, check-print-statements, mypy

Warn, not throw, for missing Mistral key
  py/core/providers/ocr/mistral.py
Due: check-typing-imports, check-print-statements, mypy

Update env vars, mocks
  docker/env/r2r-full.env
  docker/env/r2r.env
  py/tests/integration/test_ingestion.py
  py/tests/unit/test_routes.py
Due: check-typing-imports, mypy

Uncomment cleanup on file ingestion tests
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, mypy

Add Mistral key
  .github/workflows/r2r-light-py-integration-tests.yml
Due: none

Hi-res is for pdf?
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, mypy

changing github workflows to push the image to artifact registry
  .github/workflows/build-r2r-docker.yml
Due: none

trigger workflow
  README.md
Due: none

updating a dev workflow with staging sa
  .github/workflows/build-r2r-docker.dev.yml
Due: none

update workflow for stage
  .github/workflows/build-r2r-docker.dev.yml
Due: none

update workflow
  .github/workflows/build-r2r-docker.dev.yml
Due: none

changing the project id
  .github/workflows/build-r2r-docker.dev.yml
Due: none

adding image tag
  .github/workflows/build-r2r-docker.dev.yml
Due: none

tagging image
  .github/workflows/build-r2r-docker.dev.yml
Due: none

workflow update
  .github/workflows/build-r2r-docker.dev.yml
Due: none

removing final step for pushing
  .github/workflows/build-r2r-docker.dev.yml
Due: none

Add contextlib.suppress
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, mypy

Contextlib.supress
  py/tests/integration/test_ingestion.py
Due: check-typing-imports, mypy

Add OCR Provider, MistralOCR (#2092)
  .github/workflows/r2r-light-py-integration-tests.yml
  docker/env/r2r-full.env
  docker/env/r2r.env
  js/sdk/src/v3/clients/documents.ts
  py/Dockerfile copy
  py/core/__init__.py
  py/core/base/__init__.py
  py/core/base/providers/__init__.py
  py/core/base/providers/ingestion.py
  py/core/base/providers/ocr.py
  py/core/main/abstractions.py
  py/core/main/api/v3/documents_router.py
  py/core/main/assembly/factory.py
  py/core/main/config.py
  py/core/parsers/__init__.py
  py/core/parsers/media/__init__.py
  py/core/parsers/media/pdf_parser.py
  py/core/providers/__init__.py
  py/core/providers/ingestion/r2r/base.py
  py/core/providers/ingestion/unstructured/base.py
  py/core/providers/ocr/__init__.py
  py/core/providers/ocr/mistral.py
  py/pyproject.toml
  py/r2r/r2r.toml
  py/r2r/serve.py
  py/shared/abstractions/document.py
  py/tests/integration/test_ingestion.py
  py/tests/unit/test_routes.py
  py/uv.lock
Due: check-typing-imports, check-print-statements, mypy

Fix async streaming in Python SDK
  py/sdk/asnyc_methods/retrieval.py
Due: check-typing-imports, check-print-statements, mypy

Update type hint
  py/sdk/asnyc_methods/retrieval.py
Due: check-typing-imports, check-print-statements, mypy

Path conditions:
  check-typing-imports: any of: \.py$, but not: ^(.venv/|py/migrations/)
  check-print-statements: any of: \.py$, but not: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)
  mypy: any of: \.py$, but not: ^(.venv/|migrations/)
