Repository SciPhi-AI/R2R: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-typing-imports, check-print-statements, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.venv/
      - id: end-of-file-fixer
        exclude: ^.venv/
      - id: check-added-large-files
        exclude: ^.venv/
      - id: check-ast
        exclude: ^.venv/
      - id: check-yaml
        exclude: ^.venv/

  - repo: local
    hooks:
      - id: check-typing-imports
        name: Check for Dict, List, or Union usage
        entry: bash -c 'echo "Checking for typing imports..." && FOUND=$(cd "$(git rev-parse --show-toplevel)" && find . -path "*/py/*.py" | grep -v "venv" | grep -v "/.venv/" | grep -v "/site-packages/" | grep -v "test_" | grep -v "/migrations/" | xargs grep -l "from typing.*import.*[^d]Dict\\|from typing.*import.*List\\|from typing.*import.*Union" 2>/dev/null || echo "") && if [ -n "$FOUND" ]; then echo "$FOUND"; echo "  Please import dict instead of Dict, list instead of List, and the logical OR operator"; exit 1; else echo "No problematic imports found!"; exit 0; fi'
        language: system
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-print-statements
        name: Check for print statements
        entry: bash -c 'echo "Checking for print statements..." && FOUND=$(cd "$(git rev-parse --show-toplevel)" && find . -path "*/py/*.py" | grep -v "venv" | grep -v "/.venv/" | grep -v "/site-packages/" | grep -v "test_" | grep -v "/core/examples/" | grep -v "/migrations/" | grep -v "/tests/" | grep -v "/examples.py" | xargs grep -l "print(" 2>/dev/null || echo "") && if [ -n "$FOUND" ]; then echo "$FOUND"; echo "Found print statements!"; exit 1; else echo "No print statements found!"; exit 0; fi'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|py/.venv/|py/core/examples/|py/migrations/|py/tests/)

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^py/
        exclude: ^(py/tests/|.venv/)
      - id: ruff-format
        files: ^py/
        exclude: ^(py/tests/|.venv/)

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)/py" && python -m mypy --exclude "migrations" --exclude "venv*" --exclude "test_*" .'
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^(.venv/|migrations/)

fix: update Supabase token retrieval to remove unnecessary await (#2166)
  py/core/providers/auth/supabase.py
Due: check-typing-imports, check-print-statements, mypy

Fix Firecrawl API call, web_page_search_results
  py/core/agent/rag.py
  py/core/base/agent/tools/built_in/web_scrape.py
  py/core/base/agent/tools/built_in/web_search.py
  py/core/main/api/v3/retrieval_router.py
  py/core/main/services/retrieval_service.py
  py/core/utils/serper.py
  py/shared/abstractions/search.py
  py/shared/utils/base_utils.py
Due: check-typing-imports, check-print-statements, mypy

Clean up more cruft
  py/core/main/api/v3/examples.py
  py/core/main/api/v3/retrieval_router.py
Due: check-typing-imports, check-print-statements, mypy

Bump pyproject
  py/pyproject.toml
Due: none

Fix Firecrawl API call, web_page_search_results (#2180)
  py/core/agent/rag.py
  py/core/base/agent/tools/built_in/web_scrape.py
  py/core/base/agent/tools/built_in/web_search.py
  py/core/main/api/v3/examples.py
  py/core/main/api/v3/retrieval_router.py
  py/core/main/services/retrieval_service.py
  py/core/utils/serper.py
  py/pyproject.toml
  py/shared/abstractions/search.py
  py/shared/utils/base_utils.py
Due: check-typing-imports, check-print-statements, mypy

Update models, add check for empty chunks
  js/sdk/README.md
  llms.txt
  py/core/base/providers/llm.py
  py/core/configs/full_azure.toml
  py/core/configs/r2r_azure.toml
  py/core/configs/r2r_azure_with_test_limits.toml
  py/core/examples/hello_r2r.py
  py/core/main/api/v3/examples.py
  py/core/main/api/v3/retrieval_router.py
  py/core/main/orchestration/hatchet/ingestion_workflow.py
  py/core/main/orchestration/simple/ingestion_workflow.py
  py/core/providers/llm/openai.py
  py/r2r/r2r.toml
  py/shared/abstractions/llm.py
  py/shared/utils/base_utils.py
  py/tests/integration/test_agent.py
  py/tests/integration/test_ingestion.py
  py/tests/integration/test_retrieval.py
Due: check-typing-imports, check-print-statements, mypy

Add in retrieval router
  py/core/main/api/v3/retrieval_router.py
Due: check-typing-imports, check-print-statements, mypy

Use OAI embeddings not azure
  py/core/configs/r2r_azure_with_test_limits.toml
Due: none

Add more assertions to agent test
  py/tests/integration/test_agent.py
Due: check-typing-imports, mypy

Ensure that agent uses tool in test
  py/tests/integration/test_agent.py
Due: check-typing-imports, mypy

Update models, add check for empty chunks (#2185)
  js/sdk/README.md
  llms.txt
  py/core/base/providers/llm.py
  py/core/configs/full_azure.toml
  py/core/configs/r2r_azure.toml
  py/core/configs/r2r_azure_with_test_limits.toml
  py/core/examples/hello_r2r.py
  py/core/main/api/v3/retrieval_router.py
  py/core/main/orchestration/hatchet/ingestion_workflow.py
  py/core/main/orchestration/simple/ingestion_workflow.py
  py/core/providers/llm/openai.py
  py/r2r/r2r.toml
  py/shared/abstractions/llm.py
  py/shared/utils/base_utils.py
  py/tests/integration/test_agent.py
  py/tests/integration/test_ingestion.py
  py/tests/integration/test_retrieval.py
Due: check-typing-imports, check-print-statements, mypy

fix(ollama): correct API base URL for Ollama integration
  py/core/configs/full_ollama.toml
Due: none

fix(ollama): correct API base URL for Ollama integration (#2186)
  py/core/configs/full_ollama.toml
Due: none

Update Unstructured, make partition request async
  py/core/providers/ingestion/unstructured/base.py
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Update Unstructured, make partition request async (#2187)
  py/core/providers/ingestion/unstructured/base.py
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Bump LiteLLM
  py/pyproject.toml
Due: none

Project name middleware
  py/core/base/providers/database.py
  py/core/main/app.py
  py/core/main/middleware/__init__.py
  py/core/main/middleware/project_schema.py
  py/core/providers/database/postgres.py
Due: check-typing-imports, check-print-statements, mypy

Fix vars
  py/core/base/providers/database.py
  py/core/main/middleware/project_schema.py
  py/core/providers/database/collections.py
  py/core/utils/context.py
Due: check-typing-imports, check-print-statements, mypy

Add in context.py
  py/core/utils/context.py
Due: check-typing-imports, check-print-statements, mypy

Add SDK methods
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/src/baseClient.ts
  py/pyproject.toml
  py/sdk/async_client.py
  py/sdk/base/base_client.py
  py/sdk/sync_client.py
Due: check-typing-imports, check-print-statements, mypy

Allow for Dynamic Project Names (#2191)
  js/sdk/package-lock.json
  js/sdk/package.json
  js/sdk/src/baseClient.ts
  py/core/base/providers/database.py
  py/core/main/app.py
  py/core/main/middleware/__init__.py
  py/core/main/middleware/project_schema.py
  py/core/providers/database/collections.py
  py/core/providers/database/postgres.py
  py/core/utils/context.py
  py/pyproject.toml
  py/sdk/async_client.py
  py/sdk/base/base_client.py
  py/sdk/sync_client.py
Due: check-typing-imports, check-print-statements, mypy

Bump LiteLLM (#2190)
  py/pyproject.toml
Due: none

Update search_file_knowledge.py to fix filtering issue
  py/core/base/agent/tools/built_in/search_file_knowledge.py
Due: check-typing-imports, check-print-statements, mypy

Update search_file_knowledge.py to fix filtering issue (#2192)
  py/core/base/agent/tools/built_in/search_file_knowledge.py
Due: check-typing-imports, check-print-statements, mypy

Remove SciPhi Cloud references
  .github/workflows/rate-limit-test.txt
  js/sdk/src/baseClient.ts
  py/README.md
  py/core/examples/supported_file_types/ts.ts
  py/core/main/api/v3/retrieval_router.py
  py/sdk/async_client.py
  py/sdk/base/base_client.py
  py/sdk/sync_client.py
  py/tests/rateLimit.bash
Due: check-typing-imports, check-print-statements, mypy

Remove SciPhi Cloud references (#2193)
  .github/workflows/rate-limit-test.txt
  js/sdk/src/baseClient.ts
  py/README.md
  py/core/examples/supported_file_types/ts.ts
  py/core/main/api/v3/retrieval_router.py
  py/sdk/async_client.py
  py/sdk/base/base_client.py
  py/sdk/sync_client.py
  py/tests/rateLimit.bash
Due: check-typing-imports, check-print-statements, mypy

Clean up orchestration and utils layout
  py/core/main/orchestration/hatchet/ingestion_workflow.py
  py/core/main/orchestration/simple/ingestion_workflow.py
  py/shared/utils/base_utils.py
Due: check-typing-imports, check-print-statements, mypy

Clean up orchestration and utils layout (#2194)
  py/core/main/orchestration/hatchet/ingestion_workflow.py
  py/core/main/orchestration/simple/ingestion_workflow.py
  py/shared/utils/base_utils.py
Due: check-typing-imports, check-print-statements, mypy

More workflow refactors, cleanups
  py/core/__init__.py
  py/core/base/__init__.py
  py/core/base/utils/__init__.py
  py/core/main/orchestration/simple/ingestion_workflow.py
  py/core/main/services/ingestion_service.py
  py/core/utils/__init__.py
  py/shared/utils/__init__.py
  py/shared/utils/base_utils.py
Due: check-typing-imports, check-print-statements, mypy

More workflow refactors, cleanups (#2195)
  py/core/__init__.py
  py/core/base/__init__.py
  py/core/base/utils/__init__.py
  py/core/main/orchestration/simple/ingestion_workflow.py
  py/core/main/services/ingestion_service.py
  py/core/utils/__init__.py
  py/shared/utils/__init__.py
  py/shared/utils/base_utils.py
Due: check-typing-imports, check-print-statements, mypy

Fix community summary errors where openai returns non xml entity strings
  py/core/main/services/graph_service.py
Due: check-typing-imports, check-print-statements, mypy

Fix community summary errors where openai returns non xml entity strings (#2196)
  py/core/main/services/graph_service.py
Due: check-typing-imports, check-print-statements, mypy

Fix middleware for containers
  py/core/main/app_entry.py
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Fix middleware for containers (#2197)
  py/core/main/app_entry.py
  py/pyproject.toml
Due: check-typing-imports, check-print-statements, mypy

Hotfix: Change example PDF
  py/core/examples/supported_file_types/pdf.pdf
Due: none

update CharacterTextSplitter to correct package
  py/core/providers/ingestion/r2r/base.py
Due: check-typing-imports, check-print-statements, mypy

add prompt args
  py/core/parsers/media/img_parser.py
Due: check-typing-imports, check-print-statements, mypy

update CharacterTextSplitter to correct package (#2199)
  py/core/providers/ingestion/r2r/base.py
Due: check-typing-imports, check-print-statements, mypy

Fix setting non-default project name
  py/core/main/app.py
  py/core/main/app_entry.py
  py/core/main/assembly/builder.py
Due: check-typing-imports, check-print-statements, mypy

Fix setting non-default project name (#2201)
  py/core/main/app.py
  py/core/main/app_entry.py
  py/core/main/assembly/builder.py
Due: check-typing-imports, check-print-statements, mypy
